*-network.yaml
admin.crt
admin.csr
admin.key
admin.kubeconfig
auto-approve-csrs-for-group.yaml
auto-approve-renewals-for-nodes.yaml
bootstrap-token-07401b.yaml
ca.crt
ca.csr
ca.key
ca.srl
calico.yaml
coredns.yaml
coredns.yaml.sed
csrs-for-bootstrapping.yaml
deploy.sh
etcd-server.crt
etcd-server.csr
etcd-server.key
kube-apiserver.crt
kube-apiserver.csr
kube-apiserver.key
kube-controller-manager.crt
kube-controller-manager.csr
kube-controller-manager.key
kube-controller-manager.kubeconfig
kube-proxy.crt
kube-proxy.csr
kube-proxy.key
kube-proxy.kubeconfig
kube-scheduler.crt
kube-scheduler.csr
kube-scheduler.key
kube-scheduler.kubeconfig
openssl-etcd.cnf
openssl-worker-1.cnf
openssl.cnf
service-account.crt
service-account.csr
service-account.key
worker-1.crt
worker-1.csr
worker-1.key
worker-1.kubeconfig
